<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button routerLink="/album">
          <ion-icon name="apps" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>Camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img *ngIF="imagem" [src]="imagem">
</ion-content>

<ion-footer class="ion-padding" no-border>
  <ion-button expand="block" color="warning" (click)="tiraFoto()">
    <ion-icon name="camera" slot="start"></ion-icon>
    <ion-text>Tire uma foto</ion-text>
  </ion-button>
</ion-footer>